@{
    // This tells nopCommerce to wrap our view inside the standard Admin sidebar/header!
    Layout = "_AdminLayout";
    ViewBag.PageTitle = "Pending KYC Approvals";
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Marketplace KYC Approvals
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="callout callout-info">
                            <h5>Phase 1 Complete!</h5>
                            <p>This page successfully routed through your custom plugin. In Phase 2, we will replace this text with a DataTables grid showing all pending vendor business applications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>