@model WithdrawalFormModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.ReturnRequests.WithdrawalForm").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-return-request-page");
}
<div class="page return-request-page">
    <div class="page-title">
        <h1>@T("ReturnRequests.WithdrawalForm")</h1>
    </div>
    <div class="page-body">
        @if (string.IsNullOrEmpty(Model.Result))
        {
        <form asp-route="@NopRouteNames.General.WITHDRAWAL_REQUEST_FORM" method="post">
            <section class="fieldset">
                <div class="inputs">
                    <label asp-for="OrderNumber" asp-postfix=":"></label>
                    <input asp-for="OrderNumber"></input><nop-required />
                    <span asp-validation-for="OrderNumber"></span>
                </div>
                <div class="inputs">
                    <label asp-for="EmailAddress" asp-postfix=":"></label>
                    <input asp-for="EmailAddress"></input><nop-required />
                    <span asp-validation-for="EmailAddress"></span>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </section>
            <section class="buttons">
                <button type="submit" class="button-1">@T("ReturnRequests.WithdrawalForm.Submit")</button>
            </section>
        </form>
        }
        else
        {
            <section class="result">
                @Model.Result
            </section>
        }
    </div>
</div>